* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.page-width {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1240px;
  margin: auto;
}

a {
  text-decoration: none;
  color: grey;
}

h2 {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

h3 {
  font-size: 17px;
  margin-bottom: 10px;
}

h4 {
  font-size: 16px;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  display: inline-block;
  justify-content: space-between;
  padding: 20px;
  border-top: 2px solid transparent;
}

.nav-link:hover {
  border-top: 2px solid #0065fc;
}

.logo {
  width: 50px;
  height: 20px;
  justify-content: space-between;
}

.search-container {
  margin-bottom: 30px;
}

.search-container h1 {
  font-size: 20px;
}

.search-container p {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.location-pin {
  padding: 10px;
  background: rgb(235, 235, 235);
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}

.search-bar-button-container {
  display: flex;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search-bar {
  max-height: 100%;
  width: 180px;
  padding-left: 12px;
  border: solid 1px rgb(227, 227, 227);
  border-right: 0;
  font-weight: bolder;
}

::placeholder {
  color: black;
}

.search-button {
  background: #0065fc;
  color: white;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.filter-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.filter-container {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.filter-icon-wrap {
  width: auto;
  display: flex;
  width: fit-content;
  height: 30px;
  border: solid 1px rgb(227, 227, 227);
  align-items: center;
  border-radius: 30px;
  margin-right: 5px;
  background: none;
}

.filter-icon {
  height: 100%;
  width: 30px;
  border-radius: 100%;
  background: #cce0fe;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-icon i {
  color: #0065fc;
}

.filter-name {
  margin-left: 10px;
  margin-right: 10px;
}

.notice {
  margin-bottom: 30px;
  font-size: 14px;
  color: #cacaca;
}

.fa-info {
  color: #0065fc;
  border: solid 2px rgb(235, 233, 233);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
}

.accommodation-container {
  display: flex;
  gap: 30px;
}

.accommodation-container .left {
  width: 60%;
}

.accommodation-container .right {
  flex: 1;
  height: fit-content;
}

.accommodation-container .column {
  background: rgb(235, 235, 235);
  border-radius: 20px;
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
}

.show-more {
  padding: 25px;
}

.card-title {
  font-size: 13px;
}

.price-text {
  font-size: 11px;
}

.card-stars {
  font-size: 10px;
  color: #0065fc;
}

.grey {
  color: grey;
}

.card-container {
  display: flex;
  padding: 10px;
  gap: 20px;
}

.card-container-spacer {
  margin-bottom: 12px;
}

.card-wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 21px;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 25px;
  background-color: white;
}

/* On mouse-over, add a deeper shadow */
.card:hover , .filter-icon-wrap:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card {
  width: 100%;
  border: 5px solid white;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;
}

.card img {
  object-fit: cover;
  height: 100px;
  width: 100%;
  display: block;
}

.card-text {
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right .card-container {
  flex-direction: row;
}

.right .card {
  display: flex !important;
}

.right .image-container {
  width: 100%;
  height: 50%;
}

.right img {
  border-top-right-radius: 0;
  border-bottom-left-radius: 10px;
  width: 100%;
  background: brown;
  width: 100px;
  min-height: 100%;
  height: 120px;
}

.right .card-text {
  border-bottom-left-radius: 0;
  border-top-right-radius: 10px;
  width: 100%;
}

.price-text .right {
  flex-grow: 1;
}

.spacer {
  margin-bottom: 45px;
}

.activities-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  height: 100%;
}

.card-tall .card-img {
  width: 100%;
  flex-grow: 1;
}

.card-tall {
  border: 0px;
  flex-direction: column;
  display: flex;
  width: 100%;
}

.column {
  gap: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card .size-1 {
  height: 150px;
}

.card .size-2 {
  height: 80px;
}

.card .size-3 {
  height: 100px;
}

.card .size-4 {
  height: 130px;
}

body {
  margin: 0;
}

.bg {
  background-color: rgb(235, 235, 235);
}

.container {
  padding: 20px 15px;
  max-width: 1240px;
  margin: auto;
  display: flex;
  margin-top: 30px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 25px;
}

.footer-column {
  width: 50%;
  padding: 0 15px;
  height: 100px;
  flex: 1;
  justify-content: space-between;
}

.footer-card {
  height: 70px;
  display: flex;
}

.unstyled-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}



@media (min-width: 768px) and (max-width: 991px) /*TABLET*/ {
  .accommodation-container {
    flex-direction: column;
  }

  .accommodation-container .left,
  .right {
    width: 100%;
  }

  .accommodation-container .card-wrap {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    gap: 30px;
  }
}

@media (max-width: 767px) /*MOBILE*/ {
  body {
    margin: 0;
  }

  .accommodation-container {
    display: flex;
    flex-direction: column-reverse;
    border: 0;
    margin-left: -20px;
    margin-right: -20px;
  }

  .accommodation-container .right {
    border-radius: 0px;
  }

  .accommodation-container .left {
    display: flex;
    background-color: white;
    width: 100%;
  }

  .card-container {
    display: flex;
    flex-direction: column;
  }

  .navbar {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding-top: 30px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 10px;
  }

  .nav-link:hover {
    border-bottom: 1px solid #0065fc;
    border-top: 0px;
  }

  .nav-links {
    width: 100%;
    display: flex;
  }

  .nav-link {
    width: 100%;
  }

  .logo {
    text-align: center;
    width: 60px;
    height: 30px;
  }

  .filter-container {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .low-cost {
    order: 2;
  }

  .romantic {
    order: 3;
  }

  .filter {
    order: 1;
  }

  .pets-allowed {
    order: 4;
  }

  .family-friendly {
    order: 4;
  }

  .activities-container {
    flex-direction: column;
  }

  footer .container {
    flex-direction: column;
    gap: 50px;
  }

  .card .size-1, .card .size-4, .card .size-2 {
    height: 100px;
  }

}
